
###> symfony/framework-bundle ###
.env
/public/bundles/
.php-cs.cache
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
